body {
	background: #cccdc1;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow:hidden;
}

#backgroundOverlay {
    width: 100%; 
    height: 100%;
    left: 0;
    top: auto;
    bottom: 0;
    padding: 0px;
    margin: 0px;
    position: absolute;
	background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
	background-position: left bottom;
	background-repeat: no-repeat;

	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: -10;
	overflow:hidden;
}

section {
 display: block 
}

a {
	text-decoration: none;
	color: #666666;
	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
}

a:hover {
	color: #333333;
}

#grainCanvas
{
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    display: none;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    overflow: hidden;
}

#page_content {
	color: #fff;
	width: 90%;
	height: 90%;
	position: absolute; 
	z-index: 10;
	
	-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;

	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;

	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	opacity:1.0;
}

.page_content_android
{
	color: #fff;
	width: 90%;
	height: 90%;
	position: absolute; 
	z-index: 10;

	-webkit-animation-name: none;
	-moz-animation-name: none;
	-o-animation-name: none;
	animation-name: none;
}

#page_content .centered_content {
	width: 90%;
	height: 90%;
	text-align: center;
	position: relative;
	margin: 0 auto;
	padding: 0;
}

#page_content .centered_content .left_content {
	text-align: left;
	width: 300px;
	height: 300px;	
	margin-top: 60px;
	position: absolute;
	top: 0%;
}

.logo {
	width: 242px;
	height: 115px;
	
	position: relative;
	
	background-image: url('../images/logo.png');
	background-position: left bottom;
	background-repeat: no-repeat;
}

#page_content .oneLiner {
	font-family: Myriad Pro, Arial, Helvetica, sans-serif;
	display: block;
	font-size: 26px;
	color: #fff;
	margin-top: 30px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);

	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

#page_content .getAppLabel {
	font-family: Myriad Pro, Arial, Helvetica, sans-serif;
	display: block;
	font-size: 18px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
	

	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.videoBox {
	width: 200px;
	height: 112px;
	display: block;
	padding: 0;
	position: relative;
	margin-top: 20px;

	border: 3px solid rgba(255,255,255,0.1);
	 -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    border-radius: 5%;

	background-image: url('../images/video_thumbnail.jpg');
	background-position: left bottom;
	background-repeat: no-repeat;
}

#page_content .appstore {
	display: block;
	margin-top: 20px;
	display: inline-block;
}

/*#page_content .social_box {
	display: block;
	margin-top: 60px;
	text-align: left;
}*/

.playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    

    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
	text-align: center;
    
	margin-top: -25px;
	margin-left: -25px;
	padding: 0 0 0 5px;
    line-height: 155%;
	padding-left: 5px;

    border: 3px solid rgba(255,255,255,0.5);
    color: rgba(255,255,255,0.75);
    background: rgba(0,0,0,0.1);

    cursor: pointer;
    font-size: 36px;
    font-family: Arial;
  	
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;    
}

.playButton:hover {
	
    background: rgba(0,0,0,0.5);
}

#footer {
	width: 100%;
	bottom: 0;
	position: fixed;
	z-index: 1;
	display: block;
	color: #fff;
	padding: 0px 0 0 0;
	left: 0px;
}

#footer .centered_content {
	text-align: center;
	padding: 0px 0 10px 0;
}

#footer .centered_content .copyright {
	color: #666666;
	font-family: Myriad Pro, Arial, Helvetica, sans-serif;
	font-size: 12px;
	position: absolute;
	bottom: 0%;
	width: 100%;

	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    .videoBox {
    	background-image: url('../images/video_thumbnail@2x.jpg');
    	background-size: 200px 112px;
    }

    .logo {
    	background-image: url('../images/logo@2x.png');
    	background-size: 242px 115px;
    }
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
	

	#page_content .centered_content .left_content {
		-webkit-text-size-adjust:none;
		height: 460px;	
		margin-top: 10px;
	}

	#page_content .oneLiner {
		margin-top: 10px;
	}

	.videoBox {
		margin-top: 20px;
	}

	#page_content .appstore {
		margin-top: -20px;
	}

	#footer {
		-webkit-text-size-adjust:none;
		position: absolute;
		bottom: -120;
	}
	/*
	#page_content .social_box {
		display: block;
		margin-top: 20px;
		text-align: left;
	}*/

	#backgroundOverlay {
		width: 320px;
		height: 600px;
	    position: absolute;
	    bottom: -120;
	    background-position: left top;
	}
}

@media screen and (max-device-width: 480px) and (orientation: landscape) {


	#page_content .centered_content .left_content {
		text-align: center;
		width: 420px;
		height: 320px;	
		margin-top: 10px;
	}

	#page_content .oneLiner {
		margin-top: 20px;
		margin-left: 155px;
		text-align: left;
		-webkit-text-size-adjust:none;
	}

	#page_content .appstore {
		margin-top: 10px;
	}

	/*#page_content .social_box {
		display: block;
		margin-top: 20px;
		text-align: center;
	}*/

	#footer {
		-webkit-text-size-adjust:none;
		position: absolute;
		bottom: -140px;
	}

	#backgroundOverlay {
		width: 1280px;
		height: 360px;
	    position: absolute;
	    bottom: -140;
	    background-position: left center;
	}

	.videoBox {
		margin-top: -65;
		margin-left: 15;
		width: 120px;
		height: 67px;
		background-size: 120px 67px;
	}

	.logo {
		margin: 0 auto;
	}
}



#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:hidden; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}
#cboxOverlay{background:#000;}
#colorbox{outline:0;}
#cboxContent{margin-top:32px; margin-right:32px; overflow:visible; background:#000;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:0px solid #ccc;}
#cboxLoadedContent{background:#000; padding:1px;}
#cboxLoadingGraphic{visibility: hidden;}
#cboxLoadingOverlay{background:#000;}
#cboxTitle{position:absolute; top:-22px; left:0; color:#000; visibility:hidden;}
#cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}
#cboxPrevious, #cboxNext, #cboxSlideshow {border:0; padding:0; margin:0; overflow:visible; text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px;}
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
#cboxPrevious, #cboxPrevious:hover, #cboxNext, #cboxNext:hover{visibility: hidden;}

#cboxClose {
    position: absolute;
    top: 0px;
    right: -10px;
    height: 20px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    background: #000000 none;
    border: 2px solid #ffffff;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    box-shadow: 0 0 6px #000000, 1.63px 1.63px 1.63px rgba(0, 0, 0, 0.3), -1.63px 1.63px 1.63px rgba(0, 0, 0, 0.3), 1.63px -1.63px 1.63px rgba(0, 0, 0, 0.3), -1.63px -1.63px 1.63px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 0 6px #000000, 1.63px 1.63px 1.63px rgba(0, 0, 0, 0.3), -1.63px 1.63px 1.63px rgba(0, 0, 0, 0.3), 1.63px -1.63px 1.63px rgba(0, 0, 0, 0.3), -1.63px -1.63px 1.63px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 6px #000000, 1.63px 1.63px 1.63px rgba(0, 0, 0, 0.3), -1.63px 1.63px 1.63px rgba(0, 0, 0, 0.3), 1.63px -1.63px 1.63px rgba(0, 0, 0, 0.3), -1.63px -1.63px 1.63px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 6px #000000, 1.63px 1.63px 1.63px rgba(0, 0, 0, 0.3), -1.63px 1.63px 1.63px rgba(0, 0, 0, 0.3), 1.63px -1.63px 1.63px rgba(0, 0, 0, 0.3), -1.63px -1.63px 1.63px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    
    padding: 0;
 	
    margin-top: -10px;
    font-size: 12pt;
    line-height: 12px;
    font-family: Arial;
    display: inline-block;
}

#cboxClose:hover{background: #333333 none;}
.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
.cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
.cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
.cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
.cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}





@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-o-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-o-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}



